<div class="text-center">
    <a class="btn btn-xs btn-warning m-3 " href="/experts/admindashboard">
        expert admindashboard </a>
    <a class="btn btn-xs btn-warning m-3 " href="/soildetails/admindashboard">
        soildetail admindashboard </a>
    <a class="btn btn-xs btn-warning  m-3" href="/experts/addexpert">
        Add Expert</a>
    <a class="btn btn-xs btn-warning m-3 " href="/experts/showexpert">
        View Expert</a>
    <a class="btn btn-xs btn-warning m-3 " href="/news/new">
        Add News </a>
    <a class="btn btn-xs btn-warning m-3 " href="/msp/new">
        Add MSP </a>

</div>