

<div class="container mt-5 mb-3">
    <div class="row">
        <div class="col-md-11 mt-5">
            <div class="text-center">
                <a class="btn btn-xs sidebarbutton m-1 " style="background-color: #440a67; color: white;"
                   href="/experts/admindashboard">
                    expert admindashboard</a>
                <a class="btn btn-xs sidebarbutton m-1 " style="background-color: #440a67; color: white;"
                  href="/soildetails/admindashboard">
                    soildetail admindashboard</a>
                <a class="btn btn-xs sidebarbutton m-1 " style="background-color: #440a67; color: white;"
                   href="/experts/addexpert">
                    Add Expert</a>
                <a class="btn btn-xs sidebarbutton m-1 " style="background-color: #440a67; color: white;"
                    href="/news/new">
                    Add News  </a>
                <a class="btn btn-xs sidebarbutton m-1 " style="background-color: #440a67; color: white;"
                    href="/msp/new">
                    Add MSP
               </a>
            </div>
        </div>
    </div>
</div>