<div class="text-center">
    <a class="btn btn-xs btn-warning m-1 " href="/andhrapardeshcropdetail/show">
        AndharaPardesh Crop Detail </a>
    <a class="btn btn-xs btn-warning m-1 " href="/assamcropdetail/show">
        Assam Crop Detail </a>
    <a class="btn btn-xs btn-warning m-1 " href="/biharcropdetail/show">
        Bihar Crop Detail </a>
    <a class="btn btn-xs btn-warning m-1 " href="/gujaratcropdetail/show">
        Gujarat Crop Detail </a>n 
    <a class="btn btn-xs btn-warning m-1 " href="/haryanacropdetail/show">
        Harayana Crop Detail </a>
    <a class="btn btn-xs btn-warning m-1 " href="/karnatakacropdetail/show">
        Karnataka Crop Detail </a>
    <a class="btn btn-xs btn-warning m-1 " href="/maydhyapardeshcropdetail/show">
        Maydhya Pardesh Crop Detail </a>
    <a class="btn btn-xs btn-warning m-1 " href="/punjabcropdetail/show">
        Punjab Crop Detail </a>
    <a class="btn btn-xs btn-warning m-1 " href="/upcropdetail/show">
        UP Crop Detail </a>
    <a class="btn btn-xs btn-warning m-1 " href="/westbengalcropdetail/show">
        West Bengal Crop Detail </a>
</div>