<div class="container mt-5 mb-3">
    <div class="row">
        <div class="col-md-11">
            <div class="text-center">
                <a class="btn btn-xs sidebarbutton m-1 " style="background-color: #440a67; color: white;" href="/andhrapardeshcropdetail/show">
                    AndharaPardesh Crop Detail </a>
                <a class="btn btn-xs sidebarbutton m-1 " style="background-color: #440a67; color: white;" href="/assamcropdetail/show">
                    Assam Crop Detail </a>
                <a class="btn btn-xs sidebarbutton m-1 " style="background-color: #440a67; color: white;" href="/biharcropdetail/show">
                    Bihar Crop Detail </a>
                <a class="btn btn-xs sidebarbutton m-1 " style="background-color: #440a67; color: white;" href="/gujaratcropdetail/show">
                    Gujarat Crop Detail </a>
                <a class="btn btn-xs sidebarbutton m-1 " style="background-color: #440a67; color: white;" href="/haryanacropdetail/show">
                    Harayana Crop Detail </a>
                <a class="btn btn-xs sidebarbutton m-1 " style="background-color: #440a67; color: white;" href="/karnatakacropdetail/show">
                    Karnataka Crop Detail </a>
                <a class="btn btn-xs sidebarbutton m-1 " style="background-color: #440a67; color: white;" href="/maydhyapardeshcropdetail/show">
                    Maydhya Pardesh Crop Detail </a>
                <a class="btn btn-xs sidebarbutton m-1 " style="background-color: #440a67; color: white;" href="/punjabcropdetail/show">
                    Punjab Crop Detail </a>
                <a class="btn btn-xs sidebarbutton m-1 " style="background-color: #440a67; color: white;" href="/upcropdetail/show">
                    UP Crop Detail </a>
                <a class="btn btn-xs sidebarbutton m-1 " style="background-color: #440a67; color: white;" href="/westbengalcropdetail/show">
                    West Bengal Crop Detail </a>
            </div>
        </div>
    </div>
</div>