
<footer class="py-5  holder-info-2" style="background-color: #440a67;">
    
    <div class="container" >
        <p class="m-0 text-center text-white">Copyright &copy; Smart Farming & Harvest 2021</p>
    </div>

</footer>
<script src="/javascript/main.js"></script>
<script src="/javascript/news.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

</body>
</html>




