
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Smart Farming</title>
        <link href="https://fonts.googleapis.com/css?family=Karla:400,700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.8.95/css/materialdesignicons.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <link rel="stylesheet" href="/css/login.css">
    </head>
    
    <body>
        <!-- <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/University">YelpCamp</a>
            </div>
          
                    <% if(!currentUser){ %>
                        <li><a href="/users/login">Login</a></li>
                        <li><a href="/users/register">Sign Up</a></li>
                        <% } else { %>
                           
                                <ul class="dropdown-menu">
                                
                                    <li>
                                        <a href="/users/notifications">View past notifications</a>
                                    </li>
                                
                             
                                </ul>
                            </li>
                            <li><a href="#">Signed In As <%= currentUser.name %></a></li>
                            <li><a href="/users/logout">Logout</a></li>
                            <% } %>
              
        </div>
    </nav> -->


    <%- include('message.ejs') %>
