<%- include("./partials/header") %>
<div class="container">
    <%- include("./partials/message") %>
</div>
   <h1>hlo index</h1>
   <%if(currentUser.role.includes('user')){%>
       <h1>ehfjhef</h1>
   <%}%>
   

<%- include("./partials/footer") %>