<%- include("../partials/header") %>
        <h1>add msp and prodcut</h1>
        <div style="width: 30%; margin: 25px auto;">
        <form action="/msp" method="POST" >
            <div>
                <label for="name">product</label>
                <input type="text" id="name" placeholder="Name" value="" name="msp[product]" required>
            </div>

            <div>
                <label for="msp">MSP</label>
                <input type="number" id="name" placeholder="msp" value="" name="msp[msp]" required>
            </div>
            <div>
                <label for="msp">Increament</label>
                <input type="number" id="name"  value="" name="msp[increase]" required>
            </div>
            <div>
                <button type="submit">Submit</button>
            </div>
        </form>
        </div>
    </div>

<%- include("../partials/footer") %>