<%- include("../partials/header") %>

    <main class="d-flex align-items-center min-vh-100 py-3 py-md-0 mt-5">
      <div class="container">
        <div class="container ">
          <div class="row mt-3">
            <div class="col-md-8 offset-md-2">
              <%- include("../partials/message") %>
            </div>
          </div>
        </div>
        <div class="card login-card">
          <div class="row no-gutters">
            <div class="col-md-5">
              <img src="/images/login.jpg" alt="login" class="login-card-img">
            </div>
            <div class="col-md-7">
              <div class="card-body">
                <div class="brand-wrapper">
                  <img src="/images/logo.png" alt="logo" class="logo">
                </div>
                <p class="login-card-description">Sign into your account</p>

                <form action="/users/login" method="POST">
                  <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" class="form-control" placeholder="Enter Email" />
                  </div>
                  <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" class="form-control"
                      placeholder="Enter Password" />
                  </div>
                  <button type="submit" class="login-button">Login</button>
                </form>
                <p class="lead mt-4">
                  Don't have an account? <a href="/users/register" style="color:#440a67; font-weight: bold;">Register
                    here</a>
                  
                </p>
              </div>
            </div>
          </div>
         </div>
         </div>
        </main>
  
  <%- include("../partials/footer") %>

