

    <%- include("../../partials/header") %>
    <main class="d-flex align-items-center min-vh-100 py-3 py-md-0 mt-5">
        <div class="container ">
            <div class="card news-card">
                <div class="row no-gutters">
    
                    <div class="col-md-10 offset-md-1">
                        <div class="card-body">
    
                            <h3 style="text-align: center;">Add Detail</h3>
                            <h3 style="text-align: center;">UP </h3>
                                <form action="/upcropdetail" method="POST">
                                    <div class="form-group">
                                        <label for="name">product Name</label>
                                        <input type="text" class="form-control" id="name" placeholder="product" value=""
                                            name="cropdetail[product]" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="quantity">quantity(In Quintal)</label>
                                        <input type="number" class="form-control" id="name" placeholder="quantity" value=""
                                            name="cropdetail[quantity]" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="Increament">Increament</label>
                                        <input type="number" class="form-control" id="name" value=""
                                            name="cropdetail[increase]">
                                    </div>
                                    <button type="submit" class="login-button">Login</button>
                                </form>
    
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    
        <%- include("../../partials/footer") %>