<%- include("../partials/header") %>
    <main class="d-flex align-items-center min-vh-100 py-3 py-md-0 mt-5">
        <div class="container ">
            <div class="card news-card">
                <div class="row no-gutters">
                    <div class="col-md-5">
                        <img src="/images/news.jpg" alt="login" class="login-card-img">
                    </div>
                    <div class="col-md-7">
                        <div class="card-body">
                            <div class="brand-wrapper">
                                <img src="/images/newstop.png" alt="logo" class="logo">
                            </div>

                            <div style="align-items: center;">
                                <form action="/news" method="POST">
                                    <label for="rating">Your Heading : </label>
                                    <input type="text" name="news[heading]" class="form-control" id=""
                                        style="width:100%" placeholder="Your Heading">

                                    <div class="form-group">
                                        <label for="rating">text</label>
                                        <textarea class="form-control" type="text" name="news[text]"
                                            placeholder="Some details on your news" rows="10"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label>Select list</label>
                                        <select id="myList" class="form-control" name=news[categories]>
                                            <option value="MSP">Minimun Selling Price</option>
                                            <option value="fertilizer">fertilizer</option>
                                            <option value="all">all</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <button class="login-button">Submit news</button>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
   
<%- include("../partials/footer") %>