<%- include("../partials/header") %>

<div class="container">
    <div id="posts-container">
        <div class="row">
            <div class="col-md-12">
                
                    <div class="post">
                        <div class="number">5</div>
                        <div class="post-info">
                            <div class="post-title">
                              <h3> <%=news.heading%></h3>
                            </div>
                            <p class="post-body">
                                <%=news.text%>
                            </p>
                        </div>
            </div>
        </div>
    </div>
</div>
<%- include("../partials/footer") %>